<div class="hero" style="background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0, #fff 90%), url({{"/images/" | prepend: site.baseurl | append : site.hero}})">
  <div class="hero-content">
    <h1 class="hero-title">{% if site.hero-title %}{{site.hero-title}}{% else %}春川, Buffalo, <span>데이터 사이언스</span>{% endif %}</h1>
    <div class="hero-description">{% if site.hero-description %}{{site.hero-description}}{% else %}Making sense of big data world from a social scientist's view.{% endif %}</div>
  </div>
</div> <!-- /.hero -->
